{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Vehicles List
{% endblock %}

{% block content %}
<div class="row">
    {% for vehicle in list %}
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="{{vehicle.photo.url}}" style="width: 100%">
                <div class="caption">
                    <p>{{vehicle.model}} - {{vehicle.year}} - US${{vehicle.price|intcomma}}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}